*{
    margin: 0;
    padding: 0;
}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

img{
    width: 200px;
    height: 200px;
    background-color: brown;
    animation-name: colorChange;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
}

@keyframes  colorChange{
    0%{
        background-color: blue;
    }

    50%{
        background-color:  red;;
    }

    100%{
        background-color: green;
    }
}