*{
    margin: 0;
    padding: 0;
}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

div {
    height: 150px;
    width: 150px;
    background-color: black;
}

#square {
    animation-name: slideinleft;
    animation-duration: 2s;
    animation-timing-function: ease-in;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-direction: normal;
}

@keyframes slideinleft {
    from{
        transform: translateX(-300px);
    }

    to{
        transform: translateX(250px);
    }
    
}