.p11{
    color: #0000FF
}

.p12{
    color: #FF00FF
}

.p13{
    color: #FF0000 
}

.p14{
    color: #000000
}

.p15{
    color: #0F00F0
}

.p16{
    color: #F0F000
}

.p17{
    color: #00f000
}

.p18{
    color: #0F0FF0
}

.p19{
    color: #FF0FF0
}

.p20{
    color: #FFF000
}