@import url('https://fonts.googleapis.com/css2?family=Rubik+Wet+Paint&family=Tiny5&display=swap');




p{
    font-family: "Tiny5" ;
}

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Oregano:ital@0;1&family=Rubik+Wet+Paint&family=Tiny5&display=swap');
#p2{
    font-family: "Oregano";
}


#p3{
    font-family: "Bebas Neue";
}