@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Mountains+of+Christmas:wght@400;700&family=Oregano:ital@0;1&family=Rubik+Wet+Paint&family=Tiny5&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Mea+Culpa&family=Mountains+of+Christmas:wght@400;700&family=Oregano:ital@0;1&family=Rubik+Wet+Paint&family=Tiny5&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Faster+One&family=Mea+Culpa&family=Mountains+of+Christmas:wght@400;700&family=Oregano:ital@0;1&family=Rubik+Wet+Paint&family=Tiny5&display=swap');

p{
    font-family: 'Mountains of Christmas', sans-serif;
}

.offer2{
    font-family: 'Mea Culpa', sans-serif;
}

.offer3{
    font-family: 'Faster One', sans-serif;
}

a:link{
    color: goldenrod;
    text-decoration: none;
}

a:hover{
    color: darkolivegreen;
    text-decoration: underline;
}

a.link:link{
    color: black;
    text-decoration: none;
}

a.link:hover{
    color: darkred;
    text-decoration: dashed overline;
}

a.link:visited{
    color: green;
    text-decoration: none;
}

a.link2{
    color: darkolivegreen;
    text-decoration: none;
}

a.link2:hover{
    color: darkblue;
    text-decoration: dashed underline;
}

.offer4{ 
    color: gray;
    text-decoration: dashed underline red;
}

a.link:link{
    color: cadetblue;
    text-decoration: none;
}

a.link:hover{
    color: gray;
    text-decoration: double underline black;
}


