div{
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 26px;
}

body{
    height: 100vh;
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.space{
    height: 200vh;
}

.div1{
    background-color: red;
    position: fixed;
    top: 0px
}

.div2{
    background-color: green;
}

.div3{
    background-color: blue;
}