
div{
    position: absolute;
}

.div1{
    background-color:  red;
    top: 0px;
    left: 0px
}

.div2{
    background-color: blue;
    top: 0px;
    right: 0px
}

.div3{
    background-color: black;
    bottom: 0px;
    right: 0px;
}

.div4{
    background-color: gold;
    bottom: 0px;
    left: 0px;
}