body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

div{
    width: 200px;
    height: 200px;
    background-color: red;
    transition: width 0.4s height 1s
}

div:hover{
    width: 400px;
    height: 400px;
}