*{
    margin: 0;
    padding: 0;
}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

div{
    width: 200px;
    height: 200px;
    background-color: blue;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
}

@media screen and (max-width: 411px) {
    body{
        flex-direction: column;
    }

    div{
        background-color: red;
    }
}