#offer b{
    text-decoration: wavy overline red;
}

.offer1 {
    text-decoration: dotted underline green;
}

.offer2{
    text-align: center;
    text-decoration: overline black;
}

.offer3 {
    text-transform: capitalize;
}

.offer4 {
    text-shadow: -1px 2px 1px rgb(161, 161, 161);
}

